#Assignment - Data Structure

#Theoretical Questions :

1.What are data structures, and why are they important?
- Data structure is a way to store and manage data to facilitate efficient access, modification, and processing. They are crucial for efficient data access, manipulation, and retrieval, impacting a program's performance, readability, and scalability. Choosing the right data structure can significantly affect how well a program solves a problem.

- Data structures optimize how data is organized and accessed, allowing programs to perform operations like searching, sorting, and updating data quickly and efficiently.
-Properly chosen data structures can dramatically improve the speed and efficiency of a program.
-Well-structured data allows for easier understanding and maintenance of code.

- Efficient data structures are crucial for handling large datasets and complex systems.
 -Many algorithms are built upon data structures, making them essential for developing efficient software.


2.Explain the difference between mutable and immutable data types with examples?

- Mutable data types: allow modification of their values in place.

Examples include:

 - Lists: Ordered collections of items that can be modified by adding, removing, or changing elements.
       my_list = [1, 2, 3]
        my_list.append(4)
        print(my_list)  
        Output: [1, 2, 3, 4]

- Dictionaries: Collections of key-value pairs where values can be modified, added, or removed.
       my_dict = {"x": 4, "y": 5}
        my_dict["z"] = 6
        print(my_dict)  
        Output: {'x': 4, 'y': 5, 'z': 6}

- Sets: Unordered collections of unique items that can be modified by adding or removing elements.
       my_set = {1, 2, 3}
        my_set.add(4)
        print(my_set)  
        Output: {1, 2, 3, 4}

- Immutable data types: do not allow modification of their values after creation. Any operation that appears to modify an immutable object actually creates a new object with the modified value.

Examples include:

- Strings: Sequences of characters that cannot be changed once created.

       my_string = "hello"
        new_string = my_string + " world"  # Creates a new string
        print(my_string)  # Output: hello
        print(new_string)  
        Output: hello world

- Tuples: Ordered collections of items, similar to lists, but immutable.
       my_tuple = (1, 2, 3)
       new_tuple = my_tuple + (4,)
       print(new_tuple)
        print(my_tuple)
        Output: (1, 2, 3)

3.What are the main differences between lists and tuples in Python?

- Lists are mutable and allow changes, while tuples are immutable and faster for iteration. Lists use square brackets [], tuples use parentheses ().


4.Describe how dictionaries store data?
- Dictionaries in Python store data as key-value pairs. Each key within a dictionary must be unique and immutable (e.g., a string, number, or tuple), while the associated value can be of any data type and can be duplicated.
- The key acts as an identifier, allowing for efficient retrieval of its corresponding value. Dictionaries are unordered, meaning the items are not stored in a specific sequence.
- When a key-value pair is added to a dictionary, Python uses a hash function to calculate the key's hash value. This hash value determines the location in memory where the key-value pair will be stored. This hashing mechanism allows for fast lookups, insertions, and deletions of items, even in large dictionaries.
- When accessing a value using its key, Python recalculates the key's hash value and directly retrieves the value from the corresponding memory location.

- Example:

 my_dict = {"name": "Bhushan", "age": 29, "city": “Nagpur"}

 print(my_dict["name"])  

 Output: Bhushan



5.Why might you use a set instead of a list in Python?
- A set in Python is an unordered collection of unique elements, while a list is an ordered collection that can contain duplicates. Sets offer advantages over lists in specific scenarios:
          
- Ensuring Uniqueness
- Efficient Membership Testing
- Set Operations
- Memory Efficiency
- Immutability of elements

- Choosing between a set and a list depends on the specific requirements of the task. Sets excel in scenarios where uniqueness, membership testing, and set operations are crucial, while lists are better suited for ordered collections with potential duplicates and indexing needs.

6.What is a string in Python, and how is it different from a list?

- In Python, a string is an immutable sequence of characters, while a list is a mutable sequence of items, which can be of any data type. Strings are typically represented by text within single or double quotes, and they can only contain characters, whereas lists can hold various elements like numbers, other lists, or even strings.

 Key Differences:

- Mutability:
Strings are immutable, meaning their values cannot be changed after creation. Lists are mutable, allowing for modification, addition, or removal of elements.

- Item Types:
Strings can only store characters, while lists can store items of various data types.

- Representation:
Strings are typically enclosed in single or double quotes, while lists are defined within square brackets.

- Methods:
Strings have methods for string manipulation like split(), strip(), and replace(). Lists have methods for modifying their elements, such as append(), remove(), and pop().

7.How do tuples ensure data integrity in python?

- Tuples in Python ensure data integrity through their immutability. Once a tuple is created, its elements cannot be modified, added, or removed. This characteristic is crucial for maintaining the consistency and reliability of data, especially in scenarios where data should remain constant throughout its lifecycle.
- Immutability prevents accidental or unauthorized changes to the data stored in a tuple. This feature makes tuples suitable for storing fixed values such as database connection settings, configuration parameters, or coordinates. By using tuples for such data, developers can ensure that these values remain unchanged, preventing potential errors or inconsistencies in the application.

- Tuples also tend to be more memory-efficient and faster than lists, making them a good choice when dealing with data that does not need to be modified.

8.What is a hash table, and how does it relate to dictionaries in Python?

- A hash table is a data structure that stores key-value pairs, where each key is unique and used to access its corresponding value. Dictionaries are implemented using hash tables. When a key-value pair is added to a dictionary, Python calculates the hash value of the key and uses it to determine the index or position where the value will be stored in the underlying hash table. When you access a value using its key, Python again calculates the hash value and uses it to quickly locate the value in the table.

9.Can lists contain different data types in Python?
- Yes, lists in Python can contain elements of different data types. This is one of the features that makes Python lists very flexible. A single list can hold integers, floats, strings, booleans, and even other lists or more complex objects.  

10.Explain why strings are immutable in python?
- When a string is created, it is allocated a specific memory location, and that value cannot be altered. Any operation that appears to modify a string actually creates a new string object. If strings were mutable, changing the value of one variable would inadvertently affect all others referencing the same string, leading to unexpected behavior and bugs. Immutability ensures that each string value is unique and can be safely shared without modification.

11.What advantages do dictionaries offer over lists for certain tasks?

- Dictionaries allow fast key-based access and better organization for large datasets compared to index-based lists.

12.Describe a scenario where using a tuple would be preferable over a list?

- Tuples are preferable when data shouldn't change, like storing constants or keys in dictionaries.

13.How do sets handle duplicate values in Python?
- Sets in Python are designed to store only unique elements. When attempting to add a duplicate value to a set, it is automatically discarded, ensuring that the set maintains its uniqueness property. This behavior is fundamental to the nature of sets as unordered collections of distinct items. If a duplicate is added, the set remains unchanged.

 Example:

 my_set = {1, 2, 2, 3, 4, 4, 5}

 print(my_set)

 Expected output: {1, 2, 3, 4, 5}

14.How does the “in” keyword work differently for lists and dictionaries?

- "in" checks membership. In lists, it checks values; in dictionaries, it checks keys.

15.Can you modify the elements of a tuple? Explain why or why not?
- No, you cannot directly modify the elements of a tuple in Python. Tuples are immutable, meaning their contents cannot be changed after creation.  Immutability offers several benefits, including increased efficiency and the ability to use tuples as keys in dictionaries. Attempting to modify a tuple will raise a TypeError.

- For example, trying to assign a new value to a tuple element will result in an error.

- If you need to modify a sequence of values, lists should be used instead of tuples. Lists are mutable, allowing you to add, remove, or modify elements after they are created.

16.What is nested dictionary, and give an example of its use case?
- A nested dictionary in Python is a dictionary where one or more of the values are themselves dictionaries. This allows you to create a hierarchical structure for organizing and storing data.

 Example:




 employee_data =

  {

    "name": "Alice",
    "id": 123,
    "address": {
        "street": "123 Main St",
        "city": "Anytown",
        "state": "CA"
    },

    "skills": ["Python", "Data Analysis"]
    }


- In this example, the address value is another dictionary itself, creating a nested structure.

- Use Case:
Nested dictionaries are useful when you need to store structured data that has multiple layers of information.
For example, they can be used to represent: A dictionary with departments as keys and dictionaries of employees as values, with each employee's details stored in a nested dictionary.

17.Describe the time complexity of accessing elements in a dictionary?

- Accessing an element in a dictionary typically takes O(1) (constant time) on average. This means the time it takes to retrieve a value using its key doesn't increase significantly as the dictionary size grows. However, in the worst-case scenario, where numerous collisions occur (meaning different keys map to the same hash value), the time complexity can degrade to O(n) (linear time).

- Average Case (O(1)):
Dictionaries are often implemented using hash tables, which allow for near-instantaneous lookup of values based on their keys. The hash function converts the key into an index within the hash table, allowing direct access to the corresponding value.

- Worst Case (O(n)):
If a hash function is poorly designed or if many keys hash to the same index (collisions), the dictionary might need to search sequentially through the elements at that index, leading to a linear time complexity. This scenario is relatively rare in well-designed dictionaries.

18.In what situations are lists preferred over dictionaries?
- Lists are better when order matters and elements need to be accessed by position.

19.Why are dictionaries considered unordered, and how does that affect data retrieval?

- Dictionaries are unordered collections (before Python 3.7), so data isn't retrieved in insertion order.

20.Explain the difference between a list and dictionary in terms of data retrieval?

- A list is an ordered collection of items, whereas a dictionary is an unordered data collection in a key: value pair. Elements from the list can be accessed using the index, while the elements of the dictionary can be accessed using keys

#Practical Questions :

1. Write a code to create a string with your name and print it.

In [3]:
Name = input("Enter your name : ")

Enter your name : Bhushan Nipane

2. Write a code to find the length of the string “Hello World”.

In [7]:
Message =("Hello World")
len(Message)

11

3. Write a code to slice the first 3 characters from the string “Python Programming”.

In [16]:
l= ("Python Programming")
len(l)
l[3:18]

'hon Programming'

4. Write a code to convert the string “hello” to uppercase?

In [19]:
l="hello"
l.upper()

'HELLO'

5. Write a code to replace the word “apple” with “ orange” in the string “I like apple”

In [21]:
l= " I like apple"
l.replace("apple","orange")

' I like orange'

6. Write a code to create a list with numbers 1 to 5 and print it

In [34]:
list= [1,2,3,4,5]
print(list)

[1, 2, 3, 4, 5]

7. Write a code to append the number 10 to the list [1, 2, 3, 4]

In [36]:
list=[1,2,3,4]
list.append(10)
list

[1, 2, 3, 4, 10]

8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5]

In [38]:
list=[1,2,3,4,5]
list.remove(3)
list

[1, 2, 4, 5]

9. Write a code to access the second element in the list ['a', 'b', 'c', 'd']

In [39]:
list=['a', 'b', 'c', 'd']
list[1]

'b'

10. Write a code to reverse the list [10, 20, 30, 40, 50]

In [58]:
list= [10, 20, 30, 40, 50]
list[ : :-1 ]

[50, 40, 30, 20, 10]

11. Write a code to create a tuple with the elements 100, 200, 300 and print

In [65]:
tupl = (100,200,300)
tupl

(100, 200, 300)

12. Write a code to access the second-to-last element of the tuple ('red', 'green', 'blue', 'yellow').

In [72]:
t=('red', 'green', 'blue', 'yellow')
t[2] # t[-2] can also be used in negative indexing

'blue'

13. Write a code to find the minimum number in the tuple (10, 20, 5, 15)

In [73]:
num = (10, 20, 5, 15)
min(num)

5

14. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').

In [77]:
animal = ('dog', 'cat', 'rabbit')
animal.index("cat")

1

15.  Write a code to create a tuple containing three different fruits and check if "kiwi" is in it.

In [124]:
fruits = ("apple","kiwi","watermelon")
for i in fruits:
  if i == "kiwi":
    print("kiwi is in the fruits")

kiwi is in the fruits

In [86]:
fruits = ("apple","kiwi","watermelon")
print("kiwi" in fruits)

True

16. Write a code to create a set with the elements 'a', 'b', 'c' and print it

In [89]:
alphabet = {'a', 'b','c'}
alphabet

{'a', 'b', 'c'}

17.  Write a code to clear all elements from the set {1, 2, 3, 4, 5}.

In [93]:
s={1, 2, 3, 4, 5}
s.clear()
print(s)

set()

18.  Write a code to remove the element 4 from the set {1, 2, 3, 4}

In [96]:
s= {1, 2, 3, 4}
s.remove(4)
s

{1, 2, 3}

19. Write a code to find the union of two sets {1, 2, 3} and {3, 4, 5}

In [123]:
a = {1, 2, 3}
b = {3, 4, 5}
a.union(b)

{1, 2, 3, 4, 5}

20.  Write a code to find the intersection of two sets {1, 2, 3} and {2, 3, 4}

In [125]:
a = {1, 2, 3}
b = {2, 3, 4}
a.intersection(b)

{2, 3}

21. Write a code to create a dictionary with the keys "name", "age", and "city", and print it.

In [139]:
dic = {"name":input("name : "),"age":input("age : "),"city":input("city : ")}
print(dic)

name : Bhushan Nipane
age : 29
city : Nagpur
{'name': 'Bhushan Nipane', 'age': '29', 'city': 'Nagpur'}

22. Write a code to add a new key-value pair "country": "USA" to the dictionary {'name': 'John', 'age': 25}.

In [146]:
dic = {'name': 'John', 'age': 25}
dic["country"] = "USA"
dic

{'name': 'John', 'age': 25, 'country': 'USA'}

23.  Write a code to access the value associated with the key "name" in the dictionary {'name': 'Alice', 'age': 30}

In [151]:
dic =  {'name': 'Alice', 'age': 30}
dic['name']

'Alice'

24.  Write a code to remove the key "age" from the dictionary {'name': 'Bob', 'age': 22, 'city': 'New York'}.

In [156]:
dic= {'name': 'Bob', 'age': 22, 'city': 'New York'}
dic.pop('age')
dic

{'name': 'Bob', 'city': 'New York'}

In [159]:
dic= {'name': 'Bob', 'age': 22, 'city': 'New York'}
del dic['age']
dic

{'name': 'Bob', 'city': 'New York'}

25.  Write a code to check if the key "city" exists in the dictionary {'name': 'Alice', 'city': 'Paris'}.

In [171]:
dic ={'name': 'Alice', 'city': 'Paris'}
print("city" in dic)

True

In [175]:
dic ={'name': 'Alice', 'city': 'Paris'}
if "city" in dic:
  print("city is in the dictionary")
else:
  print("city is not in the dictionary")

city is in the dictionary

In [ ]:
26. Write a code to create a list, a tuple, and a dictionary, and print them all.

In [186]:
list=["Bhushan", "Akshay", "Nimesh"]
tuple=(29,28,28)
dictionary={"name":"Bhushan","age": 29}
print(list,tuple,dictionary)

['Bhushan', 'Akshay', 'Nimesh'] (29, 28, 28) {'name': 'Bhushan', 'age': 29}

27.  Write a code to create a list of 5 random numbers between 1 and 100, sort it in ascending order, and print the result.(replaced)

In [3]:
import random
lst = random.sample(range(1, 101), 5)
lst.sort()
print(lst)

[5, 19, 39, 50, 73]

28. Write a code to create a list with strings and print the element at the third index

In [4]:
lst = ['apple', 'banana', 'cherry', 'date']
print(lst[3])

date

29. Write a code to combine two dictionaries into one and print the result

In [5]:
d1 = {'a': 1}
d2 = {'b': 2}
d1.update(d2)
print(d1)

{'a': 1, 'b': 2}

30. Write a code to convert a list of strings into a set

In [8]:
lst = ['apple', 'banana', 'cherry']
print(set(lst))

{'cherry', 'apple', 'banana'}